<?xml version="1.0" encoding="utf-8" standalone="no"?>
<configuration>
  <appSettings>
    <!-- To Be Updated by Horizon Application-->
	<add key="InputType" value="JSON"/>
    <add key="LoginEnabled" value="0"/>
    <add key="RegistrationEmailValidation" value="0"/>
    <add key="MCALRequired" value="0"/>
    <!-- [SEARCH-APPID] -->
    <add key="AppID" value="9201128"/>
    <add key="SecurityToken" value=""/>
	<add key="PDCEnabled" value="0"/>
	<!-- END -->
   
	<add key="DevURL_XML" value="https://neowebservices-dev.diageo.com/neowebservices/"/>
    <add key="DevURL_JSON" value="https://neowebservices-dev.diageo.com/neowebservices/"/>
	
    <add key="StagingURL" value="https://neowebservices-staging.diageo.com/neowebservices/"/>
	<add key="StagingURL_MCAL" value="https://neostaging.wsnet.diageo.com/MCAL/MultiChannelWebService.svc/"/>
	
	<add key="ProductionURL" value="https://neowebservices.diageo.com/neowebservices/"/>
   	<add key="ProductionURL_MCAL" value="https://neo.wsnet.diageo.com/MCAL/MultiChannelWebservice.svc/"/>
   	
    <add key="Version_XML" value="1.3"/>
    <add key="Version_JSON" value="2.0"/>
   

    
  </appSettings>
</configuration>
