<ifModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    RewriteRule ^rsvpdashboard/(.*)$ rsvpdashboard.html [L,NC]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteRule ^(.*)$ $1.html [L,NC]

    # Redirects domain.com/file.html to domain.com/file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.html -f
    RewriteCond %{REQUEST_URI} ^(.+)\.html$
    RewriteRule (.*)\.html$ /$1 [R=301,L]


</ifModule>

ErrorDocument 404 /404.html